<%= render 'application/banner' %>
<div class="container mb-4">
  <div class="container d-flex align-items-center">
    <h1 id="ancer" class="mb-4">Movies Lists</h1>
    <%= link_to "Create a list", new_list_path, class: "btn btn-success mb-4 ms-4" %>
  </div>
  <div class="cards pb-5 border-bottom">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : image_path('camera.webp') %>)">
        <%= link_to '', list_path(list), class: 'card-link' %>
        <%= list.name %>
        <%= link_to list_path(list),
          class: "text-danger cards-delete-btn",
          method: :delete,
          data: { confirm: "This will delete the list and all the movie included in it. Are you sure?" } do %>
          <i class="fas fa-times"></i>
        <% end %>
      </div>
    <% end %>
  </div>
  <h2 class="mt-5 mb-4">Movies suggestion</h2>
  <div class="cards">
    <% @movies.first(30).each do |movie| %>
      <div class="card-category" style=" background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= movie.poster_url %>);">
        <%= movie.title %>
        <p style="position: absolute; bottom: -10px; right: 8px; font-size: 16px;"><i class="fas fa-star text-warning"></i> <%= movie.rating.to_f %></p>
        <%= link_to new_movie_bookmark_path(movie), style: "position: absolute; top: 6px; right: 12px" do %>
          <i class="fas fa-bookmark text-success"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
