<div class="container" style="padding: 100px 250px">
  <h1>Add a new list</h1>
  <%= simple_form_for @list do |f| %>
  <%= f.input :name, include_blank: false, collection: @movies %>
  <%= f.input :photo, as: :file %>
  <%= f.submit class:"btn btn-success mt-2"%>
  <% end %>
  <div class="container mt-4">
  <%= link_to lists_path, class: "text-info" do%>
    <p><i class="fas fa-undo-alt"></i> Back to list</p>
  <% end %>
</div>
