<div class="container">
  <h1>Bookmarks#new</h1>
  <%= simple_form_for [ @list, @bookmark ] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.submit class:"btn btn-primary mt-2"%>
  <% end %>
  <div class="container mt-4">
  <%= link_to lists_path do%>
    <p><i class="fas fa-undo-alt"></i> Back to list</p>
  <% end %>
</div>
